<html>

<head>
    <link rel="stylesheet" href="/resources/css/reset.css">
    <link rel="stylesheet" href="/resources/css/layout.css">
    <title>
        sofa-king good furniture store
    </title>




</head>

<body class="body">
    <header class="header">
        <div class="header-content">
            <a href="/">
                <img src="/resources/images/logo.png" alt="">
            </a>

        </div>
    </header>

    <main class="main">
   
    </main>
    <footer class="footer">
        <div class="footer-content">

        </div>

    </footer>
</body>


</html>